<div style="padding-left: 20px">
  <div class="header">
    <span class="title">Dados de Exercicios</span>
    <button *ngIf="isNew" class="button" (click)="saveNew()" mat-raised-button color="primary">Salvar</button>
    <div>
      <button *ngIf="!isNew" class="button" (click)="saveEdit()" mat-raised-button color="primary">Salvar</button>
      <button *ngIf="!isNew" class="button" (click)="delete()" mat-raised-button color="primary">Deletar</button>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<form [formGroup]="form" class="form">
    <div class="field">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="name" required>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field appearance="outline">
        <mat-label>Treino</mat-label>
        <mat-select name="workout" [(value)]="selected">
          <mat-option *ngFor="let workout of dataSource" [value]="workout.id">
            {{workout.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field appearance="outline">
        <mat-label>Repetições</mat-label>
        <input type="number" matInput formControlName="reps" required>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field appearance="outline">
        <mat-label>Séries</mat-label>
        <input type="number" matInput formControlName="series" required>
      </mat-form-field>
    </div>
  </form>