.form {
    padding-top: 20px;
}

.field {
    padding-left: 20px;
}

.title {
    font-size: 45px;
    font-weight: bold;
    padding-left: 20px;
}

.header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button {
    margin-right: 10px;
    width: 300px;
    background: black;
    font-size: 20px;
}