<div style="padding-left: 20px;">
  <div class="header">
    <span class="title">Dados do Cliente</span>
    <button class="button" (click)="add()" mat-raised-button color="primary">Adicionar Cliente</button>
  </div>
</div>
<br>
<hr>
<br>
<form [formGroup]="form" style="padding-left: 20px;">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" maxlength="10" required>
      <mat-error *ngIf="form.controls.name.invalid">{{getErrorMessage('name')}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" maxlength="10" required>
      <mat-error *ngIf="form.controls.password.invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="form.controls.email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
  </div>
</form>
