<div style="padding-left: 20px">
  <div class="header">
    <span class="title">Dados do Cliente</span>
    <button *ngIf="isNew" class="button" (click)="saveNew()" mat-raised-button color="primary">Salvar</button>
    <div>
      <button *ngIf="!isNew" class="button" (click)="saveEdit()" mat-raised-button color="primary">Salvar</button>
      <button *ngIf="!isNew" class="button" (click)="delete()" mat-raised-button color="primary">Deletar</button>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<form [formGroup]="form" style="padding-left: 20px;">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" maxlength="10" required>
      <mat-error *ngIf="form.controls.name.invalid">{{getErrorMessage('name')}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" maxlength="10" required>
      <mat-error *ngIf="form.controls.password.invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="form.controls.email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" maxlength="11" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>RG</mat-label>
      <input matInput formControlName="rg" maxlength="9" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="data_nascimento" id="data">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</form>
